@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Add Role";
}

<h3>@Html.ActionLink("Click to Create New Role", "Create", "Role") </h3>

<table>
    <tr>
        <td align="center" colspan="2">
            <h2> Current User Roles</h2>
        </td>

    </tr>

    <tr>
        <td>
            <table>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                    </tr>
                }
            </table>
        </td>
    </tr>
</table>




