@model SiliconIndy.Data.LessonData

@{
    ViewBag.Title = "BusinessChallenges";
}

<div class="content-wrapper">

    <h2>BusinessChallenges</h2>

    <p>In this section we'll offer up a series of business challenges for job interview preparation.</p>

</div>
