@model IEnumerable<SiliconIndy.Models.LessonModels.LessonListItem>

@{
    ViewBag.Title = "All Products";
}

<br />

<div class="row">
    <div class="container">
        <div class="row display-section">
            <div class="col-md-12">
                <h1>All Lessons</h1>

                <p>
                    @Html.ActionLink("Add Lesson", "Create")
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <row>
            <div class="col-md-12">
                <ul>
                    @foreach (var item in Model)
                    {
                        <li class="comment-list">
                            <h2>
                                @Html.ActionLink(item.Title, "Details", new { id = item.LessonId })
                            </h2>
                            @if (item.CommentCount == 1)
                            {
                                <p>
                                    @Html.DisplayFor(modelItem => item.CommentCount) Comment
                                </p>
                            }
                            else
                            {
                                <p>
                                    @Html.DisplayFor(modelItem => item.CommentCount) Comments
                                </p>
                            }
                            <div class="clearfix"></div>
                        </li>
                    }
                </ul>
            </div>
        </row>
    </div>
</div>