@model IEnumerable<SiliconIndy.Models.LessonModels.LessonListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="container">
        <div class="row display-section">
            <div class="col-md-12">
                <h1>All Lessons</h1>

                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <row>
            <div class="col-md-12">
                <ul>
                    @foreach (var item in Model)
                    {
                        <li class="product-list">
                            <h2>
                                @Html.ActionLink(item.Title, "Details", new { id = item.LessonId })
                            </h2>
                        </li>
                    }
                </ul>
            </div>
        </row>
    </div>
</div>
