<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Mini-Lesson Choices
            <small>Choose a topic</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">Lesson Choices</li>
            <li><a href="#"><i class="fa fa-dashboard"></i>Business Challenges</a></li>
            <li><a href="#"><i class="fa fa-dashboard"></i>Full Stack Work</a></li>
            <li><a href="#"><i class="fa fa-dashboard"></i>Book List</a></li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <h1>.NET</h1>

            <div class="col-lg-6 col-xs-6">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>C#</h3>
                        <p>17 lessons</p> <!--TODO: Get number of lessons-->
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-6 col-xs-6">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>Web Api</h3> <!--TODO: Get number of lessons-->
                        <p>3 Lessons</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>

        <div class="row">


            <h1>JavaScript</h1>

            <div class="col-lg-6 col-xs-6">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>JS</h3>
                        <p>3 Lessons</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-jsfiddle"></i></a>
                </div>
            </div>


            <div class="col-lg-6 col-xs-6">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>React</h3>
                        <p>4 lessons</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>


            <div class="col-lg-6 col-xs-6">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>Angular</h3>
                        <p>4 Lessons</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>



            <div class="col-lg-6 col-xs-6">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>Vue</h3>
                        <p>4 Lessons</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>

        </div>

        <div class="row">
            <h1>Git</h1>

            <div class="col-lg-6 col-xs-6">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>Local</h3> <!--TODO: Get number of lessons-->
                        <p>4 lessons</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>


            <div class="col-lg-6 col-xs-6">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>Remote</h3> <!--TODO: Get number of lessons-->
                        <p>3 Lessons</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>


            <div class="col-lg-6 col-xs-6">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>Partner</h3> <!--TODO: Get number of lessons-->
                        <p>3 Lessons</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>


        </div>


    </section>
</div>

