@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Documentation for this site
        </h1>

    </section>
    <!-- Main content -->

        <a href="https://adminlte.io/docs"><i class="fa fa-book"></i> <span>Documentation</span></a>

</div>
